doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/addpostbtn.css')
    link(rel='stylesheet', href='/stylesheets/posts.css')
    link(rel='stylesheet', href='/stylesheets/new.css')
    link(rel='stylesheet', href='/stylesheets/error.css')
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  body
    block content
