@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

button {
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  cursor: pointer;
  letter-spacing: 2px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  background: #ffffff;
  margin: 5vh auto 5vh 38vw;
}

button:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  background: #8e99f3;
  color: white;
  transform: translateY(5px);
  transition: 0.45 all linear;
}
